<!-- About Section -->
<div id="about">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 section-title text-center">
            <h2>About Us</h2>
            <p>
                Welcome to MangaKing. We here provide the best customer service from technical help to basic knowledge of Manga.
                We try to make sure your visit to our site is of the best quality so we removed all our ads aswell as given links to anime if you wish to watch the manga you love to read.
                If you have any suggestions please contact us by email <small style="        color: indigo;"> MangaKings@gmail.com </small>
            </p>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6"> <img src="img/about.jpg" class="img-responsive" alt=""> </div>
            <div class="col-xs-12 col-md-6">
                <div class="about-text">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- top anime Section -->
<div id="Top-List">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 section-title text-center">
            <h2>Top Lists</h2>
        </div>
        <div class="categories">
            <ul class="cat">
                <li>
                    <ol class="type">
                        <li><a href="#Top-Manga" data-filter="*" class="active">Top Manga</a></li>
                        <li><a href="#Top-Anime" data-filter="*">Top Anime</a></li>
                        <li><a href="#Top-Anime-Movies" data-filter="*">Top Anime Movies</a></li>
                    </ol>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <!--Top-Manga-->
        <div class="col-md-8 col-md-offset-2 section-title text-center">
            <h2>Top Manga</h2>
        </div>
        <div id="Top-Manga">
            <div class="row">

                <div class="portfolio-items">

                    <div class="col-sm-6 col-md-3 col-lg-3 web">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a target="_blank" href="https://mangarock.com/manga/mrs-serie-241688" title="Project description" rel="prettyPhoto">
                                    <div class="hover-text">
                                        <h4>Rising of the Shield Hero</h4>
                                    </div>
                                    <img src="~/images/Manga_img/ROTSH_small.jpg" class="img-responsive" alt="Project Title">
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 app">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a target="_blank" href="https://mangarock.com/manga/mrs-serie-183717" title="Project description" rel="prettyPhoto">
                                    <div class="hover-text">
                                        <h4>One Piece</h4>
                                    </div>
                                    <img src="~/images/anime_img/one-piece-small.jpg" class="img-responsive" alt="Project Title">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 web">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a target="_blank" href="https://mangarock.com/manga/mrs-serie-28856" title="Project description" rel="prettyPhoto">
                                    <div class="hover-text">
                                        <h4>Black Clover</h4>
                                    </div>
                                    <img src="~/images/Manga_img/Black_Clover.jpg" class="img-responsive" alt="Project Title">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 web">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a target="_blank" href="https://mangarock.com/manga/mrs-serie-225627" title="Project description" rel="prettyPhoto">
                                    <div class="hover-text">
                                        <h4>Food Wars</h4>
                                    </div>
                                    <img src="~/images/Manga_img/Food_Wars.jpg" class="img-responsive" alt="Project Title">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 app">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a target="_blank" href="https://mangarock.com/manga/mrs-serie-30476" title="Project description" rel="prettyPhoto">
                                    <div class="hover-text">
                                        <h4>Bleach</h4>
                                    </div>
                                    <img src="~/images/Manga_img/Bleach.jpg" class="img-responsive" alt="Project Title">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 branding">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a target="_blank" href="https://mangarock.com/manga/mrs-serie-92499" title="Project description" rel="prettyPhoto">
                                    <div class="hover-text">
                                        <h4>Haikyu</h4>
                                    </div>
                                    <img src="~/images/Manga_img/Haikyu.jpg" class="img-responsive" alt="Project Title">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 branding app">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a target="_blank" href="https://mangarock.com/manga/mrs-serie-303939" title="Project description" rel="prettyPhoto">
                                    <div class="hover-text">
                                        <h4>The Promised Neverland</h4>
                                    </div>
                                    <img src="~/images/Manga_img/The_Promised_Neverland.jpg" class="img-responsive" alt="Project Title">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 web">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a target="_blank" href="https://mangarock.com/manga/mrs-serie-68010" title="Project description" rel="prettyPhoto">
                                    <div class="hover-text">
                                        <h4>Fire Force</h4>
                                    </div>
                                    <img src="~/images/Manga_img/Fire_Force.jpg" class="img-responsive" alt="Project Title">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Top-Anime-->
        <div class="col-md-8 col-md-offset-2 section-title text-center">
            <h2>Top Anime</h2>
        </div>
        <div id="Top-Anime">
            <div class="row">
                <div class="portfolio-items">
                    <div class="col-sm-6 col-md-3 col-lg-3 web">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a href="~/images/anime_img/dragon-ball-super-big.jpeg" title="Project description" rel="prettyPhoto">
                                    <div class="hover-text">
                                        <h4>Dragon Ball Super</h4>
                                    </div>
                                    <img src="~/images/anime_img/dragon-ball-super-small.jpg" class="img-responsive" alt="Project Title">
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 app">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a href="~/images/anime_img/one-piece-big.jpg" title="Project description" rel="prettyPhoto">
                                    <div class="hover-text">
                                        <h4>One Piece</h4>
                                    </div>
                                    <img src="~/images/anime_img/one-piece-small.jpg" class="img-responsive" alt="Project Title">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 web">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a href="~/images/anime_img/my-hero-academia-big.jpg" title="Project description" rel="prettyPhoto">
                                    <div class="hover-text">
                                        <h4>My Hero Academia</h4>
                                    </div>
                                    <img src="~/images/anime_img/my-hero-academia-small.jpg" class="img-responsive" alt="Project Title">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 web">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a href="~/images/anime_img/mob-psycho-big.jpg" title="Project description" rel="prettyPhoto">
                                    <div class="hover-text">
                                        <h4>Mob Psycho 100</h4>
                                    </div>
                                    <img src="~/images/anime_img/mob-psycho-small.jpg" class="img-responsive" alt="Project Title">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 app">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a href="~/images/anime_img/fairy-tail-big.jpg" title="Project description" rel="prettyPhoto">
                                    <div class="hover-text">
                                        <h4>Fairy Tail</h4>
                                    </div>
                                    <img src="~/images/anime_img/fairy-tail-small.jpg" class="img-responsive" alt="Project Title">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 branding">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a href="~/images/anime_img/one-punch-man-big.jpg" title="Project description" rel="prettyPhoto">
                                    <div class="hover-text">
                                        <h4>One Punch Man</h4>
                                    </div>
                                    <img src="~/images/anime_img/one-punch-man-small.jpg" class="img-responsive" alt="Project Title">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 branding app">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a href="~/images/anime_img/dororo-big.jpg" title="Project description" rel="prettyPhoto">
                                    <div class="hover-text">
                                        <h4>Dororo</h4>
                                    </div>
                                    <img src="~/images/anime_img/dororo-small.jpg" class="img-responsive" alt="Project Title">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 web">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a href="~/images/anime_img/attack-on-titan-big.jpg" title="Project description" rel="prettyPhoto">
                                    <div class="hover-text">
                                        <h4>Attsck on Titan</h4>
                                    </div>
                                    <img src="~/images/anime_img/attack-on-titan-small.jpg" class="img-responsive" alt="Project Title">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Top-Anime-Movies-->
        <div class="col-md-8 col-md-offset-2 section-title text-center">
            <h2>Top Anime Movies</h2>
        </div>
        <div id="Top-Anime-Movies">
            <div class="row">
                <div class="portfolio-items">
                    <div class="col-sm-6 col-md-3 col-lg-3 web">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a href="~/images/anime_movie_img/spirited_away_big.jpg" title="Project description" rel="prettyPhoto">
                                    <div class="hover-text">
                                        <h4>Spirited Away</h4>
                                    </div>
                                    <img src="~/images/anime_movie_img/spirited_away_small.jpg" class="img-responsive" alt="Project Title">
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 app">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a href="~/images/anime_movie_img/howls_moving_castle_big.jpg" title="Project description" rel="prettyPhoto">
                                    <div class="hover-text">
                                        <h4>Howls Moving Castle</h4>
                                    </div>
                                    <img src="~/images/anime_movie_img/howls_moving_castle_small.jpg" class="img-responsive" alt="Project Title">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 web">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a href="~/images/anime_movie_img/a_silent_vocie_big.jpeg" title="Project description" rel="prettyPhoto">
                                    <div class="hover-text">
                                        <h4>A Silent Vocie</h4>
                                    </div>
                                    <img src="~/images/anime_movie_img/a_silent_vocie_snall.jpg" class="img-responsive" alt="Project Title">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 web">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a href="~/images/anime_movie_img/your_name_big.jpg" title="Project description" rel="prettyPhoto">
                                    <div class="hover-text">
                                        <h4>Your Name</h4>
                                    </div>
                                    <img src="~/images/anime_movie_img/your_name_small.jpg" class="img-responsive" alt="Project Title">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 app">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a href="~/images/anime_movie_img/the_boy_and_the_beast_big.jpg" title="Project description" rel="prettyPhoto">
                                    <div class="hover-text">
                                        <h4>The Boy and the Beast</h4>
                                    </div>
                                    <img src="~/images/anime_movie_img/the_boy_and_the_beast_small.jpg" class="img-responsive" alt="Project Title">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 branding">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a href="~/images/anime_movie_img/sword_of_a_stranger_big.jpg" title="Project description" rel="prettyPhoto">
                                    <div class="hover-text">
                                        <h4>Swprd of a Stranger</h4>
                                    </div>
                                    <img src="~/images/anime_movie_img/sword_of_a_stranger_small.jpg" class="img-responsive" alt="Project Title">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 branding app">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a href="~/images/anime_movie_img/Redline_big.jpg" title="Project description" rel="prettyPhoto">
                                    <div class="hover-text">
                                        <h4>Redline</h4>
                                    </div>
                                    <img src="~/images/anime_movie_img/Redline_small.jpg" class="img-responsive" alt="Project Title">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 web">
                        <div class="portfolio-item">
                            <div class="hover-bg">
                                <a href="~/images/anime_movie_img/ponyo_big.jpg" title="Project description" rel="prettyPhoto">
                                    <div class="hover-text">
                                        <h4>Ponyo</h4>
                                    </div>
                                    <img src="~/images/anime_movie_img/ponyo_small.jpg" class="img-responsive" alt="Project Title">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>